@model project_v1.Models.Car
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <!--you have chosen toyota sabakaModel.car  <p>
        it will cost:  
        sabakaModel.finalprice
            -->
        che tam <p>
        @Model.manufacturer   @Model.model


    <!--
          sobakaModel.finalprice(Model.car)

        and it will cost:
        (ViewBag.lcar == "corolla")-->


</div>
    </body>
</html>
