
    @{
        Layout = null;
    }

    <!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title></title>
        <h1>jo</h1>
    </head>
    <body>
        <div>


        </div>
        <br>
        <div>

            залогиньтесь
            @Html.ActionLink("тут!", "Authorizing")
        </div>
        <br>

    </body>
</html>
