@model project_v1.Models.User
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>

        Рады вас приветствовать здесь! <p>
            hello @Model.Login
        <p> test @Model.getHistory()[0][0];
        <p>

    </div>
</body>
</html>
